<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <header>
        
            <nav>
                <div class="logo">
                    <i class="fa-solid fa-utensils"></i> Damn Delicious
                </div>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href ="/home/homepage"> HOME </a></li>
                    <li><a href ="/about/profile"> ABOUT </a></li>
                    <li><a href ="/recipe/mins"> 5 MIN RECIPE </a></li>
                    <li><a href ="#"> CONTACT </a></li>
                </ul>

                <div class="menu-toggle" id="menu-toggle">
                    <i class="fa-solid fa-bars"></i> </div>
            </nav>
        
    </header>
    <section class="hero">
        <div class="hero-content">
            <h1>
                Enjoy Your<br>Delicioius Meals
            </h1>
            <p>
                Cook delicious meals with easy, step-by-step recipes that make cooking stress-free and fun, using everyday ingredients to save time, even on busy days,<br>
                Find a variety of quick and tasty recipes that fit any occasion, from family dinners to casual snacks.   
            </p>
        </div>
        <div class="food-image">
            <img src="../../assets/image/food-plate.png">

        </div>
    </section>
  </body>