<!-- <p>landingpage works!</p>
<button routerLink="/auth/sigup">Signup</button>
<button routerLink="/auth/signin">Signin</button>
<button routerLink="/home/homepage">Home</button>
<button routerLink="/about/profile">About</button> -->
<div class="recipe-animation">
  <div class="bowl-container">
    <img src="../../assets/image/bowl-3d-model-free-png.webp" alt="Bowl" class="bowl">
    
    <!-- Items appearing inside the bowl -->
    <img src="../../assets/image/spoo.jpg" alt="Whisk" class="animated-item whisk">
    <img src="../../assets/image/spoon.png" alt="Spoon" class="animated-item spoon">
    <img src="../../assets/image/whisk.jpeg" alt="Rolling Pin" class="animated-item rolling-pin">
  </div>
</div>
