<div class="body">
    <h1>Chinese Cuisine</h1>
<div class="gallery">
    <div class="image-frame">
        <a href="/chinese/beefstir-fry">
        <img src="../../../assets/image/beef stir fry.jpg" alt="Beef Stir Fry">
        <div class="image-caption">Beef Stir Fry</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/cantoneseclaypot-rice">
        <img src="../../../assets/image/cantoneseclay pot rice.jpg" alt="Cantoneseclay Pot Rice">
        <div class="image-caption">Cantoneseclay Pot Rice</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/chickenmanchurian-fry">
        <img src="../../../assets/image/chicken manchurian.jpg" alt="Chicken Manchurian">
        <div class="image-caption">Chicken Manchurian</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/chongquigspicy-noodle">
        <img src="../../../assets/image/chongquing noodles.jpg" alt="Chongquing Noodles">
        <div class="image-caption">Chongquing Noodles</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/dandannoodle">
        <img src="../../../assets/image/dan dan noodle.webp" alt="Dan Dan Noodles">
        <div class="image-caption">Dan Dan Noodles</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/glutinousballs-rice">
        <img src="../../../assets/image/glutinous rice balls.jpg" alt="Glutinous Rice Balls">
        <div class="image-caption">"Glutinous Rice Balls</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/guilinrice-noodle">
        <img src="../../../assets/image/guilin rice noodels.jpg" alt="Guilin Rice Noodles">
        <div class="image-caption">Guilin Rice Noodles</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/hotandsour-soup">
        <img src="../../../assets/image/hot and sour soup.jpg" alt="Hot and Sour Soup">
        <div class="image-caption">Hot and Sour Soup</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/kungpaochicken-fry">
        <img src="../../../assets/image/kung pao chicken.jpg" alt="Kung Pao Chicken">
        <div class="image-caption">Kung Pao Chicken</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/nappacabbage-soup">
        <img src="../../../assets/image/nappa cabbage soup.jpg" alt="Nappa Cabbage Soup">
        <div class="image-caption">Nappa Cabbage Soup</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/oxtail-soup">
        <img src="../../../assets/image/oxtail soup.jpg" alt="Oxtail Soup">
        <div class="image-caption">Oxtail Soup</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/pineapplefried-rice">
        <img src="../../../assets/image/pineapple fried rice.jpg" alt="Pineapple Fried Rice">
        <div class="image-caption">Pineapple Fried Rice</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/sesameshrimp-fry">
        <img src="../../../assets/image/sesame shrimp stir fry.jpg" alt="Sesame Shrimp Stir Fry">
        <div class="image-caption">Sesame Shrimp Stir Fry</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/wonton-soup">
        <img src="../../../assets/image/wonton soup.jpg" alt="Wonton Soup">
        <div class="image-caption">Wonton Soup</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/chinese/zhajiangmian-noodle">
        <img src="../../../assets/image/zha jiang mian.jpg" alt="Zha Jiang Mian">
        <div class="image-caption">Zha Jiang Mian</div>
    </a>
    </div>
</div>


