<div class="body"></div>
    <h1>Mexican Cuisine</h1>
<div class="gallery">
    <div class="image-frame">
        <a href="/mexican/alpastor-tacos">
        <img src="../../../assets/image/al pastor tacos.jpg" alt="Al Pastor Tacos">
        <div class="image-caption">Al Pastor Tacos</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/mexican/beanandcheese-burrito">
        <img src="../../../assets/image/Bean and Cheese Burrito.webp" alt="Bean and Cheese Burrito">
        <div class="image-caption">Bean and Cheese Burrito</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/mexican/birria-soup">
        <img src="../../../assets/image/birria.jpg" alt="Birria">
        <div class="image-caption">Birria</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/mexican/carnitas-tacos">
        <img src="../../../assets/image/carnitas tacos.jpg" alt="Carnitas Tacos">
        <div class="image-caption">Carnitas Tacos</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/mexican chocoflan-dessert">
        <img src="../../../assets/image/chocoflan.jpg" alt="Chocoflan">
        <div class="image-caption">Chocoflan</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/conchabread-dessert">
        <img src="../../../assets/image/concha bread.jpg" alt="Concha Bread">
        <div class="image-caption">Concha Bread</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/mexican/lengua-tacos">
        <img src="../../../assets/image/lengua tacos.jpg" alt="Lengua Tacos">
        <div class="image-caption">Lengua Tacos</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/margaritapie-dessert">
        <img src="../../../assets/image/margarita pie.jpg" alt="Margarita">
        <div class="image-caption">Margarita</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/mexican/mexicanchickentorilla-soup">
        <img src="../../../assets/image/mexican chicken tortilla soup.webp" alt="Mexican Chicken Torilla Soup">
        <div class="image-caption">Mexican Chicken Torilla Soup</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/mexican/mission-buritto">
        <img src="../../../assets/image/mission burrito.jpg" alt="Mission Buritto">
        <div class="image-caption">Mission Buritto</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/mexican/nopalesandtomatilla-stew">
        <img src="../../../assets/image/nopales and tomatilla stew.jpg" alt="Nopales and Tomatilla Stew">
        <div class="image-caption">Nopales and Tomatilla Stew</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/mexican/pozolerojo-soup">
        <img src="../../../assets/image/pozole rojo.jpg" alt="Pozole Rojo">
        <div class="image-caption">Pozole Rojo</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/mexican/shrimp-tacos">
        <img src="../../../assets/image/shrimp tacos.jpg" alt="Shrimp Tacos">
        <div class="image-caption">Shrimp Tacos</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/mexican/texmex-burrito">
        <img src="../../../assets/image/tex mex burrito.jpg" alt="Tex-Mex Buritto">
        <div class="image-caption">Tex-Mex Buritto</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/mexican/treslechescake-dessert">
        <img src="../../../assets/image/tres leches cake.jpg" alt="Tres Leches Cake">
        <div class="image-caption">Tres Leches Cake</div>
    </a>
    </div>
</div>


