.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 100vh; /* This limits the height to 80% of the viewport height */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background to captions for better readability */
    padding: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Darkens the carousel controls for better visibility */
    border-radius: 50%;
    padding: 10px;
}
