<div class="body">
    <h1>Italian Cuisines</h1>
<div class="gallery">
    <div class="image-frame">
        <a href="/italian/fettuccine-pasta">
        <img src="../../../assets/image/fettuccine.jpg" alt="fettuccine">
        <div class="image-caption">Fettuccine</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/italian/fruitybiscotti-dessert">
        <img src="../../../assets/image/fruity biscotti.jpg" alt="fruity biscotti">
        <div class="image-caption">Fruity Biscotti</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/italian/hot-smokedsalmon-risotto">
        <img src="../../../assets/image/hot- smoke  salmon risotto.jpg" alt="hot-smoke salmon risotto">
        <div class="image-caption">Hot-Smoke Salmon Risotto</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/italian/linguine-pasta">
        <img src="../../../assets/image/linguine.jpeg" alt="Linguine">
        <div class="image-caption">Linguine</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/italian/margherita-pizza">
        <img src="../../../assets/image/margarita pie.jpg" alt="Margherita">
        <div class="image-caption">Margherita</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/italian/minipanettone-dessert">
        <img src="../../../assets/image/mini panettone.jpg" alt="Mini Panettone">
        <div class="image-caption">Mini Panettone</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/italian/neapditan-pizza">
        <img src="../../../assets/image/neapolitan pizza.jpg" alt="Neapolitan Pizza">
        <div class="image-caption"> Neapolitan Pizza</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/italian/pepperoni-pizza">
        <img src="../../../assets/image/pepperoni pizza.jpg" alt="Pepperoni pizza">
        <div class="image-caption">Pepperoni pizza</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/italian/quattro-formaggi-pizza">
        <img src="../../../assets/image/quattro formaggi pizza.jpg" alt="quattro formaggi pizza">
        <div class="image-caption">Quattro formaggi pizza</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/italian/saffron-risotto">
        <img src="../../../assets/image/saffron lobster risotto.jpg" alt="Saffron lobster risotto">
        <div class="image-caption">Saffron lobster risotto</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/italian/scallop-risotto">
        <img src="../../../assets/image/scallop risotto.jpg" alt="scallop lobster risotto">
        <div class="image-caption">scallop lobster risotto</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/italian/semifreddo-dessert">
        <img src="../../../assets/image/semifreddo.jpg" alt="semifreddo">
        <div class="image-caption">semifreddo</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/italian/spaghatti-dessert">
        <img src="../../../assets/image/spaghatti.jpg" alt="spaghatti">
        <div class="image-caption">spaghatti</div>
    </a>
    </div>
    <div class="image-frame">
        <a href="/italian/tiramisu-dessert">
        <img src="../../../assets/image/tiramisu.jpg" alt="tiramisu">
        <div class="image-caption">tiramisu</div>
        </a>
    </div>
    <div class="image-frame">
        <a href="/italian/vermicelli-pasta">
        <img src="../../../assets/image/vermicelli.jpg" alt="vermicelli">
        <div class="image-caption">vermicelli</div>
    </a>
    </div>
</div>
</div>