.recipe-section {
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    margin: 0; /* Remove margins */
    overflow: hidden;
}

.recipe-image {
    height: 100vh; /* Full viewport height */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center center; /* Centers the image */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.recipe-content {
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    color: #1e021eb5; /* Golden yellow text color */
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
}

h2, h3 {
    margin: 0 0 10px;
}

ul {
    text-align: left;
}

p {
    margin-top: 20px;
}
