<div class="body">
    <h1>5 mins recipe</h1>
    <div class="gal">
        <div class="image-frame">
            <a href="/recipe/avacado">
                <img src="../../../assets/image/AvocadoToast5.jpg" alt="Avocado Toast">
                <div class="image-caption">Avocado Toast</div>
            </a>
        </div>
        <div class="image-frame">
            <a href="/recipe/greek">
                <img src="../../../assets/image/greek.webp" alt="Greek Yogurt and Fruit Parfait">
                <div class="image-caption">Greek Yogurt and Fruit Parfait</div>
            </a>
        </div>
        <div class="image-frame">
            <a href="/recipe/egg">
                <img src="../../../assets/image/egg.jpg" alt="Egg and Cheese Wrap">
                <div class="image-caption">Egg and Cheese Wrap</div>
            </a>
        </div>
        <div class="image-frame">
            <a href="/recipe/Caprese">
                <img src="../../../assets/image/Caprese-Salad.jpg" alt="Caprese Salad">
                <div class="image-caption">Caprese Salad</div>
            </a>
        </div>
        <div class="image-frame">
            <a href="/recipe/banana">
                <img src="../../../assets/image/peanut-butter-banana-shake.webp" alt="Banana Peanut Butter Smoothie">
                <div class="image-caption">Banana Peanut Butter Smoothie</div>
            </a>
        </div>
        <div class="image-frame">
            <a href="/recipe/cucu">
                <img src="../../../assets/image/cucu.webp" alt="Cucumber and Hummus Wrap">
                <div class="image-caption">Cucumber and Hummus Wrap</div>
            </a>
        </div>
        <div class="image-frame">
            <a href="/recipe/chee">
                <img src="../../../assets/image/cheese.jpg" alt="Cheese Quesadilla">
                <div class="image-caption">Cheese Quesadilla</div>
            </a>
        </div>
        <div class="image-frame">
            <a href="/recipe/mug">
                <img src="../../../assets/image/oml.jpeg" alt="Microwave Mug Omelette">
                <div class="image-caption">Microwave Mug Omelette</div>
            </a>
        </div>
        <div class="image-frame">
            <a href="/recipe/ramen">
                <img src="../../../assets/image/ramen.jpg" alt="Instant Ramen with Veggies">
                <div class="image-caption">Instant Ramen with Veggies</div>
            </a>
        </div>
        <div class="image-frame">
            <a href="recipe/tuna">
                <img src="../../../assets/image/tuna.jpg" alt="Tuna Salad">
                <div class="image-caption">Tuna Salad</div>
            </a>
        </div>
        <div class="image-frame">
            <a href="recipe/apple">
                <img src="../../../assets/image/Almond-Butter-spiced-Apples-v-2-resized.jpg" alt="Apple & Almond Butter Snack">
                <div class="image-caption">Apple & Almond Butter Snack</div>
            </a>
        </div>
        <div class="image-frame">
            <a href="recipe/spinach">
                <img src="../../../assets/image/Spinach and Feta Wrap.jpg" alt="Spinach and Feta Wrap">
                <div class="image-caption">Spinach and Feta Wrap</div>
            </a>
        </div>
    </div>
</div>
